.education {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12rem 0 14rem;

  & h3 {
    margin-bottom: 6rem;
  }
  &-card {
    display: grid;
    grid-template-columns: 10rem 1fr;
    position: relative;
    & span {
      width: 2rem;
      height: 2rem;
      display: block;
      border-radius: 50%;
      border: 4px solid #40584b;
      /* position: relative; */
      justify-self: center;
    }
    & p {
      letter-spacing: 1px;
    }

    &-1 {
      display: grid;
      grid-template-columns: 60rem 10rem;
      justify-content: center;
      /* align-items: center; */
      row-gap: 1rem;
      column-gap: 6rem;
      margin-bottom: 4rem;
      & h2 {
        margin-right: 10rem;
        font-size: 2rem;
        color: white;
      }
      & p {
        margin: 0;
        align-self: flex-end;
        font-size: 1.6rem;
      }
    }
    &-2 {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1.5rem 1fr;
      justify-content: center;
      align-items: center;
      gap: 0.8rem;
      & div {
        height: 60%;
        width: 0.4rem;
        background-color: #40584b;
        justify-self: center;
        align-self: flex-start;
      }
    }
  }
}
