@import "../../common-sass/common.styles.scss";
.link {
  &:link,
  &:visited {
    font-size: 1.4rem;
    text-decoration: none;
  }
}
.nav-link {
  color: $color-text;
  &:not(:last-child) {
    margin-right: 6rem;
  }
}
.default-link-theme {
  &:hover,
  &:active {
    color: $color-primary;
  }
}
.pink-link-theme {
  &:hover,
  &:active {
    color: $color-pink-thme;
  }
}
.black-link-theme {
  &:hover,
  &:active {
    color: $color-black-theme;
  }
}
