@import "../../common-sass/common.styles.scss";
.info {
  padding: 20rem 0 15rem;
  display: flex;
  justify-content: center;
  margin-bottom: 10rem;
  /* background-color: #40584b; */

  &-btn {
    align-self: flex-start;
  }
}
.info .text {
  display: flex;
  flex-direction: column;
  width: 22%;
  margin-left: 10rem;
}
.info h4 {
  font-size: 2rem;
  display: flex;
  align-items: center;
  /* font-family: inherit; */
}
.info h4::after {
  display: block;
  content: "";
  height: 2px;
  width: 4.5rem;
  background-color: #fff;
  margin-left: 0.8rem;
}
.img {
  box-sizing: content-box;
  width: 30%;
  position: relative;
  /* background-color: rebeccapurple; */
  /* border-left: 2rem solid whitesmoke;
  border-top: 2rem solid whitesmoke; */
  /* height: 50rem; */

  background-size: cover;
}
.g,
.f {
  width: 2rem;
  // background-color: #e5e5f7;
  opacity: 0.8;
  background-size: 10px 10px;
  background-image: repeating-linear-gradient(
    45deg,
    #444cf7 0,
    #444cf7 1px,
    #e5e5f7 0,
    #e5e5f7 50%
  );
}
.f {
  width: 1rem;
}
// .img::after,
// .img::before {
//   content: "";
//   display: block;
//   height: 1rem;
//   width: 80%;
//   position: absolute;
//   /* background-color: #ffffff; */
//   /* background: rgb(71,180,180); */
//   animation-name: gradient;
//   animation-duration: 15s;
//   animation-iteration-count: infinite;
//   animation-direction: alternate-reverse;
//   animation-timing-function: ease-in-out;

//   /* animation-duration: 1s;
//   animation-play-state: running;
//   -o-animation-play-state: running; */
//   /* background: linear-gradient(
//     90deg,
//     rgba(170, 0, 226, 1) 7%,
//     rgba(71, 77, 180, 1) 22%,
//     rgba(0, 173, 255, 1) 52%,
//     rgba(0, 177, 255, 1) 72%,
//     rgba(255, 0, 245, 1) 100%,
//     rgba(254, 246, 0, 1) 100%
//   ); */
//   /* border: 1px solid #3e5649e8; */
// }
.img::after {
  transform: rotate(90deg);
  /* left: 0; */
  transform: rotate(90deg);
  left: -63%;
  top: 41%;
  width: 120%;
}
.img::before {
  top: -2rem;
  width: 85%;
  left: -4%;
}
.img img {
  width: 100%;
}
.info h3 {
  font-size: 3.2rem;
}
.info .parent-p {
  font-size: 1.6rem;
  line-height: 1.7;
  letter-spacing: 1px;
  margin-bottom: 3rem;
}
.parent-p p {
  margin-top: 2rem;
}

.info h3,
p,
aside,
h4,
h5 {
  color: white;
  font-family: inherit;
  margin-bottom: 1rem;
}
.social-media {
  display: flex;
  flex-direction: column;
  margin-left: 8rem;
}
.social-media h5 {
  font-size: 1.6em;
}
.social-media a {
  margin-top: 5rem;
  /* padding: 2rem; */
}
@media only screen and (max-width: 1200px) {
  .img::after {
    top: 36%;
  }
  .info .text {
    width: 40%;
    margin-left: 6rem;
  }
}
@media only screen and (max-width: 900px) {
  .img::after {
    top: 38%;
    left: -65%;
  }
  .info {
    flex-direction: column-reverse;
    align-items: center;
  }
  .img {
    width: 40%;
  }
  .info .text {
    margin-bottom: 8rem;
    width: 70%;
  }
  .social-media {
    flex-direction: row;
    margin-left: 0;
    margin-bottom: 5rem;
    /* align-self: start; */
  }
  .social-media a {
    margin-right: 5rem;
  }
}

@media only screen and (max-width: 500px) {
  .info .text {
    width: 80%;
    margin-left: 0;
    hyphens: auto;
  }
  .info .img {
    width: 60%;
    text-align: center;
    border: 1rem solid #fff;
    box-sizing: content-box;
    /* animation-name: gradient;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    animation-timing-function: ease-in-out; */
  }
  /* .img img {
    width: 95%;
  } */
  .img::after,
  .img::before {
    display: none;
  }
}

/* ////////////////////////////////////////////////// */
@keyframes gradient {
  0% {
    background-color: rgba(170, 0, 226, 1);
  }
  10% {
    background-color: #ffd32d;
  }
  20% {
    background-color: rgb(81, 255, 0);
  }
  30% {
    background-color: #65c18c;
  }
  40% {
    background-color: #2d31fa;
  }
  50% {
    background-color: #d8d2cb;
  }
  60% {
    background-color: rgba(0, 173, 255, 1);
  }
  70% {
    background-color: #d3eca7;
  }
  80% {
    background-color: rgba(255, 0, 245, 1);
  }
  90% {
    background-color: #203239;
  }
  100% {
    background-color: #e7ed9b;
  }
  /* rgba(0, 173, 255, 1) 52%,
  rgba(0, 177, 255, 1) 72%,
  rgba(255, 0, 245, 1) 100%, */
  /* rgba(254, 246, 0, 1) 100% */
}
