@import "../../common-sass/common.styles.scss";
// @import "../Img/hero.png";
/* @import url("https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap"); */
.hero-section {
  display: flex;
  justify-content: space-around;
  color: $color-text;
  font-family: inherit;
  text-align: center;

  // background-color: #3e5649e8;
  height: 100vh;
  /* clip-path: polygon(0 0, 100% 0, 100% 65vh, 0 100%); */
  padding: 20rem 12rem;
  margin-bottom: 10rem;
  background-size: cover;
  background-position: center;

  // background: linear-gradient(
  //   to bottom right,
  //   rgb(2 14 33) 10%,
  //   rgb(1 29 30) 51%,
  //   rgb(35 37 38) 100%
  // );
  // background: linear-gradient(
  //   to bottom right,
  //   #020e21 10%,
  //   #011d1e 51%,
  //   #000000 100%
  // );
  & h1 {
    font-size: 7.2rem;
    letter-spacing: 2px;
    // text-shadow: 0 1rem rgb(33 50 58);
    margin-bottom: 2rem;
  }

  & p {
    font-size: 2rem;
    margin-bottom: 0;
    // color: $color-primary;
  }
  & h3 {
    font-size: 2rem;
    margin-bottom: 4rem;
    position: relative;
    color: $color-text;

    &::after {
      content: "";
      background-color: $color-primary;
      display: block;
      height: 3px;
      border-radius: 10rem;
      width: 10%;
      left: 40%;
      position: absolute;
      top: 150%;
      transform: translate(50%, 100%);
    }
  }
  & h5 {
    letter-spacing: 1px;
    font-size: 1.8rem;
    margin-top: 5rem;
  }
  & a {
    color: #fff;
  }
  & a:hover {
    text-decoration: none;
    color: blue;
  }
  & button {
    // font-weight: 800;
    // color: $color-primary;
    // background-color: rgb(47, 255, 75);
    // border: 2px solid $color-primary;
    transition: background-color 0.5s;
    background: transparent;
    margin-top: 2rem;
  }
}
.typo-pink {
  color: $color-pink-thme;
  &::after {
    background-color: $color-pink-thme;
  }
}
.typo-black {
  color: $color-black-theme;
  &::after {
    background-color: $color-black-theme;
  }
}
.typo-default {
  color: $color-primary;
  &::after {
    background-color: $color-primary;
  }
}
@media only screen and (max-width: 1400px) {
  .hero-section {
    /* flex-direction: column; */
    /* justify-content: initial; */
    padding: 12rem 4rem;
  }
}
@media only screen and (max-width: 1000px) {
  .hero-section {
    flex-direction: column;
    padding: 10rem 4rem 12rem;
    align-items: center;
  }
}
@media only screen and (max-width: 500px) {
  .hero-section {
    flex-direction: column;
    padding: 10rem 4rem 12rem;
  }
}
