@import "../../common-sass/common.styles.scss";
.theme-btn {
  padding: 1rem 3rem !important;
  background-color: transparent;
  //   background-color: $color-primary;
  &-text {
    font-size: 1rem;
    @include tool-tip;
    width: 13rem;
    top: 110%;
    right: 2%;
    // background-color: white;
  }
  &-text::after {
    bottom: 100%;
    border-color: transparent transparent $color-text transparent;
    @include tool-tip-after;
  }

  &:hover .theme-btn-text {
    visibility: visible;
  }
}

.btn-default {
  color: $color-primary;
  border: 2px solid $color-primary !important;
  &:hover {
    background-color: #ffa6000c;
  }
}
.btn-black {
  color: $color-black-theme;
  border: 2px solid $color-black-theme !important;
  &:hover {
    background-color: #00e5ff10;
  }
}
.btn-pink {
  color: $color-pink-thme;
  border: 2px solid $color-pink-thme !important;
  &:hover {
    background-color: #d4ecdd17;
  }
}
