label {
  background-color: #fff;
  width: 7.5rem;
  height: 7.5rem;
  position: fixed;
  top: 3rem;
  right: 5rem;
  border-radius: 50%;
  z-index: 100;
  -webkit-box-shadow: 0 0.8rem 1rem rgb(0 0 0 / 20%);
  box-shadow: 0 0.8rem 1rem rgb(0 0 0 / 20%);
  cursor: pointer;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #3e5649e8;
  /* gap: 6px; */
}
.span {
  position: relative;

  width: 3rem;
  height: 2px;
  background-color: rgb(255, 255, 255);
  display: inline-block;
  transition: all 0.2s;
}
.span:not(:last-child) {
  margin-bottom: 0.6rem;
}
.toggle2 {
  display: none;
}
.toggle1 {
  transform: rotate(-45deg);
  top: 3.5px;
}
.toggle3 {
  transform: rotate(45deg);
  bottom: 4.5px;
}

@media only screen and (max-width: 900px) {
  label {
    top: auto;
    /* top: 0 !important; */
    bottom: 2rem !important;
  }
}

@media only screen and (max-width: 500px) {
  label {
    right: 3rem;
  }
}
