form {
  display: flex;
  font-family: inherit;
  flex-direction: column;
  font-size: 1.6rem;
  margin-bottom: 3rem;
}
form .name {
  width: 100%;
  margin-right: 0;
  margin-bottom: 2rem;
}
form input {
  font-family: inherit;
  padding: 2rem;
  border-radius: 0.5rem;
  width: 30rem;
  border: none;
  outline: #3e5649e8;
}
form input:not(:last-child) {
  margin-right: 1rem;
}
form input::placeholder {
  letter-spacing: 1.5px;
  font-family: inherit;
  /* color: rgba(255, 255, 255, 0.726); */
}
form .btn {
  background-color: #3e564977;
  color: #fff;
}
form textarea {
  border-radius: 0.5rem;
  padding: 2rem;
  margin: 2rem 0;
  font-family: inherit;
  outline: #3e5649e8;
  letter-spacing: 1px;
}

@media only screen and (max-width: 800px) {
  form {
    flex-direction: column;
    width: 100%;
  }
  form input {
    width: 100%;
    margin-bottom: 2.5rem;
    /* border-radius: 1rem; */
  }
  form .btn {
    /* color: #fff;
    border-bottom: 2px solid #6d6d6d;
    border-right: 2px solid #949494e8;
    background-color: #3e5649e8; */
    padding: 1.5rem;
    border-radius: 0.5rem;
    margin-top: 2.5rem;
  }
  form textarea {
    margin: 0;
  }
  form .btn:hover {
    /* border-bottom: 2px solid transparent; */
    background-color: #3e564977;
  }
}
