@import "./common-sass/common.styles.scss";
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
@media only screen and (max-width: 600px) {
  html {
    font-size: 56.5%;
  }
}

body {
  color: $color-text;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  position: relative;
  overflow-x: hidden;
  min-height: 100vh;
  min-width: 100%;
}
p {
  // color: inherit;
  line-height: 1.7;
  letter-spacing: 1px;
}

.btn {
  font-size: 1.6rem;
  padding: 2rem 3rem;
  font-weight: 600;
  border-radius: 0.5rem;
  cursor: pointer;
  letter-spacing: 1px;
}
.scroll-Top {
  transform: translateY(7rem);
}
