@import "./common-sass/common.styles.scss";
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
@media only screen and (max-width: 600px) {
  html {
    font-size: 56.5%;
  }
}

body {
  color: $color-text;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  position: relative;
  /* background-color: #0a192f; */
  /* background: rgb(60, 61, 128); */
  /* background: radial-gradient(
    closest-side,
    rgba(60, 61, 128, 1) 21%,
    rgba(46, 47, 89, 1) 51%,
    rgba(39, 109, 142, 1) 100%
  ); */
  /* background: linear-gradient(
    to bottom right,
    rgb(2 14 33) 10%,
    rgb(1 29 30) 51%,
    rgb(35 37 38) 100%
  ); */
  // background: linear-gradient(
  //   to bottom right,
  //   #020e21 10%,
  //   #011d1e 51%,
  //   #000000 100%
  // );
  /* background: radial-gradient(circle, #eabf9f 21%, #faf3e0 51%, #b68973 100%); */
  /* padding: 2rem; */
}
p {
  // color: inherit;
  line-height: 1.5;
}

.btn {
  font-size: 1.6rem;
  padding: 1.6rem 3rem;
  border-radius: 0.5rem;
  cursor: pointer;
  letter-spacing: 1px;

  // color: inherit;
  // color: $color-primary;
  // border: 2px solid $color-primary;

  // &:hover {
  //   background: #ffa6000c;
  // }
}
.section-heading {
  font-size: 3rem;
  font-weight: 300;
  color: #fff;
  font-family: inherit;
  margin-bottom: 3rem;
  letter-spacing: 1px;
  text-align: center;
}
